.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
  color: #212529c4 !important;
  background-color: #e9ecef30  !important;
  font-weight: 600 !important;
}
.text-black{
  color: #212529c4 !important;
  font-weight: 600 !important;
}
