<form>
  <div class="login-container">
    <div class="login-content">
      <mat-toolbar class="login-toolbar" color="primary">Recipe Book</mat-toolbar>
      <mat-card>
        <form [formGroup]="formLogin" #formDirective="ngForm" (ngSubmit)="onSubmit()">
          <mat-form-field>
            <mat-icon matPrefix>person_outline</mat-icon>
            <input autofocus type="text" matInput placeholder="Username" formControlName="Username">
          </mat-form-field>

          <mat-form-field>
            <mat-icon matPrefix>lock_outline</mat-icon>
            <input type="password" autocomplete="false" matInput placeholder="Password" formControlName="Password">
          </mat-form-field>

          <button type="submit" mat-raised-button color="primary">Iniciar sesión</button>
        </form>

      </mat-card>
    </div>
  </div>
